.teamRankingsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-gap: 1em;
    padding: 25px;
}

.teamRankCard {
    border: 1px solid black;
    border-radius: 5px;
}

.teamRankCardMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.teamName {
    font-size: 20px;
    margin: 0;
}

.teamRank {
    margin: 0;
}

.teamRecord {
    margin: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
}