.Navbar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
    z-index: 100;
    background-color: rgb(41, 41, 41);
}

.Navbar p {
    margin-bottom: 0;
    color: white;
    font-size: 23px;
}

.navLink {
    text-decoration: none;
    font-size: 22px;
    margin: 0 25px;
    color: rgba(255, 255, 255, 0.288);
    transition: color 0.24s ease-in;
}

.navLinksContainer {
    display: block;
}

.navLink:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navLink-active {
    color: rgb(255, 255, 255);
    border-bottom: 2px solid;
}

.filled {
    background-color: black;
}

.sidebarButton {
    display: none;
    width: 40px;
    height: 40px;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: gray;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.sidebarButton div {
    height: 1px;
    width: 30px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5%;
}

@media only screen and (max-width: 780px) {
    .sidebarButton {
        display: flex;
    }

    .navLinksContainer {
        display: none;
    }
}